body,
html {
  background-color: skyblue;
  padding: 2.5rem /* 100/40 */ 0.5rem /* 20/40 */;
  background-image: linear-gradient(skyblue, blue);
}
header h3 {
  color: #fff;
  font-size: 1rem /* 40/40 */;
  font-weight: 900px;
  text-align: center;
}
.main {
  text-align: center;
}
.main input {
  outline: none;
  width: 80%;
  height: 1.5rem /* 60/40 */;
  background-color: transparent;
  border: 1px solid #FFf;
  border-radius: 1.75rem /* 70/40 */;
  text-indent: 0.5rem /* 20/40 */;
  color: #fff;
  margin: 0.25rem /* 10/40 */;
}
.main .login {
  display: block;
  width: 80%;
  background-color: #56B3F5;
  height: 1.75rem /* 70/40 */;
  outline: none;
  border: 1px solid #fff;
  border-radius: 1.75rem /* 70/40 */;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.75rem /* 70/40 */;
  margin: 0 auto;
  margin-top: 0.25rem /* 10/40 */;
  margin-bottom: 0.25rem /* 10/40 */;
}
.main .tips a {
  color: #fff;
  font-size: 0.3rem /* 12/40 */;
  text-decoration: none;
  margin: 0;
}
