
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘商城-搜索页</title>

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="lib/mui/css/mui.css">
    <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">

</head>
<body>

    <div class="lt_container">
        <!-- 头部模块开始 -->
        <div class="lt_header">
            <!-- 回到上一页 bom location:search href reload history:back forword go(-1) go(1) -->
            <!-- 页面不跳转 执行此代码 javascript -->
            <a href="javascript:history.go(-1);" class="icon_left">
                <span class="mui-icon mui-icon-back"></span>
            </a>
            <h4>搜索中心</h4>
            
        </div>
        <!-- 头部模块结束 -->

        <!-- 中心模块开始 -->
        <div class="lt_main">
            <!-- 滚动区域 -->
           <div class="mui-scroll-wrapper">
               <div class="mui-scroll">
                   <!-- 这里放置真实显示的DOM内容 -->
                   <div class="lt_search">
                       <input type="text" placeholder="请输入搜索的关键字">
                       <button class="mui-btn mui-btn-blue">搜索</button>
                   </div>
                   <div class="lt_history">

                       <!-- 挖一个坑 -->
                   </div>
               </div>
           </div>
        </div>
        <!-- 中心模块结束 -->

        <!-- 尾部模块开始 -->
        <div class="lt_footer">
            <ul class="mui-clearfix">
                <li>
                    <a href="index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <span class="fa fa-user"></span>
                        <p>会员中心</p>
                    </a>
                </li>
            </ul>

        </div>
        <!-- 尾部模块结束 -->
    </div>


    <!-- 列表渲染 -->
    <script type ="text/html" id="tpl">
        {{if list.length === 0}}
            <!-- 如果是一个空数组 -->
            <div class="tips">当前还没有该商品的搜索记录</div>
        {{/if}}

        {{if list.length > 0}}
        <div class="title mui-clearfix">
            <span class="mui-pull-left">搜索历史</span>
            <span class="mui-pull-right fa fa-trash btn_empty">清空记录</span>
        </div>
        <div class="lt_content">
            <ul>
                {{each list v i}}
                <li class="mui-clearfix">
                    <a href="productList.html?key={{v}}" class="mui-pull-left">{{v}}</a>
                    <span data-index = {{i}} class="mui-pull-right mui-icon mui-icon-closeempty btn_delete"></span>
                </li>
                {{/each}}
               
            </ul>
        </div>
        {{/if}}
    </script>
 

    <script src="lib/mui/js/mui.js"></script>
    <!-- 模版引擎 -->
    <script src="lib/artTemplate/template-web.js"></script>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src='js/common.js'></script>
    <script src="js/search.js"></script>
</body>
</html>