@charset "UTF-8";

.lt_sort{
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}

.lt_sort a {
    text-align: center;
    color:#666;
    width: 25%;
    display: block;
    float: left;
}
.lt_sort a.now{
    color:darkorange;
}

.loading {
    width: 40px;
    height: 40px;
    border: 3px solid #069;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 200px;
    /*使用动画*/
    animation: play 1s infinite ease-in-out;
  }
  
  /*定义动画序列*/
  @keyframes play {
    from {
      transform: translate(-50%) rotate(0deg);
    }
    to {
      transform: translate(-50%) rotate(360deg);
    }
  }